#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

#my_Carousel{
    background-color: #6ce09e;
}
#my_Carousel img{
    width:300px;
    margin-top: 40px;
}
body{
    text-align: center;
    background-color: aliceblue;
}